* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #090909;
}

#not-mobile {
    display: none;
}

/* @media only screen and (min-device-width: 480px) {

    #not-mobile {
        display: block;
    }

    #content {
        display: none;
    }

} */

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#logo {
  font-size: 35px;
  font-weight: bold;
  color: #292929;
}

ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 5%;
    margin-right: 5%;
}

.button-link {
  display: flex;
  gap: 1rem;
  padding: 12px 24px;
  background-color: #ddd;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  width: 100%;
  height: 100px;
}

.button-link:hover {
  background-color: #ddd;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.card-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 50%;
}

.bar-name {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}

.bar-addy {
  width: max-content;
  font-size: 15px;
  font-weight: 400;
  border-top: 1px solid #000000;
  padding-left: 2px;
  padding-right: 6px;
  padding-top: 3px;
  color: #3D3D3D;
}

.timestamp {
  font-size: 11px;
  font-weight: 400;
}

.card-right-stack {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: flex-end;
  color: #000000;
}

#card-right-substack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-right {
  font-size: 45px;
  font-weight: bold;
}

#graph-parent {
  display: flex;
  width: 85%;
  height: 25vh;
  border-bottom: 1px solid #4D4C4C;
  border-top: 1px solid #4D4C4C;
  margin-right: 20%;
  margin-left: 20%;
}


input[type="range"] {
    width: 300px;
    background: transparent;
  }
  /*###################################*/
  /*###########Responsive Range########*/
  /*###################################*/
  /*##############Core Style###########*/
  
  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type="range"]:focus {
    outline: none;
  }
  
  input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  /*#############Thumb##############*/
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 26px;
    width: 9px;
    background: #6B6B6B;
    cursor: pointer;
    margin-top: -12px;
  }
  
  input[type="range"]::-moz-range-thumb {
    height: 36px;
    width: 36px;
    background: #6B6B6B;
    cursor: pointer;
  }
  
  input[type="range"]::-ms-thumb {
    height: 36px;
    width: 36px;
    background: #6B6B6B;
    cursor: pointer;
  }
  /*#############Track##############*/
  
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #383838;
  }
  
  input[type="range"]:active::-webkit-slider-runnable-track {
    background: #383838;
  }
  
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #383838;
  }
  
  input[type="range"]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  
  input[type="range"]::-ms-fill-lower {
    background: #383838;
  }
  
  input[type="range"]:focus::-ms-fill-lower {
    background: #383838;
  }
  
  input[type="range"]::-ms-fill-upper {
    background: #383838;
  }
  
  input[type="range"]:focus::-ms-fill-upper {
    background: #383838;
  }

  #rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.8rem;
    border-radius: 25px;
    background-color: #151515;
  }

  .slider {
    width:100%;
    padding:15px;
    padding-left: 0px;
    background:#fcfcfc;
    display:flex;
    align-items:center;
    border-radius: 25px;
    color: #EBEBEB;
    background-color: #151515;
   }

   .slider-container {
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 15px;
   }

   .sliderLabel {
    margin-right: 20px;
    margin-left: 0.5rem;
    font-size: 14px;
   }

   .slider span {
    font-size:18px;
    font-weight:600;
    padding-left:20px;
    color: #EBEBEB;
   }
   .slider input[type=”range”] {
    -webkit-appearance:none !important;
    width:420px;
    height:2px;
    background:#EBEBEB;
    border:none;
    outline:none;
   }
   .slider input[type=”range”]::-webkit-slider-thumb {
    -webkit-appearance:none !important;
    width:30px;
    height:30px;
    background:#fcfcfc;
    border:2px solid #EBEBEB;
    border-radius:50%;
    cursor:pointer;
   }
   .slider input[type=”range”]::-webkit-slider-thumb:hover {
    background:#EBEBEB;
   }


.switch-button {
  background: #383838;
  border-radius: 30px;
  overflow: hidden;
  width: 90%;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  color: #EBEBEB;
  position: relative;
  padding-right: 45%;
  position: relative;
}

.switch-button:before {
  content: "Updates";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
  color: #EBEBEB;
}

.switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}

.switch-button-checkbox:checked + .switch-button-label:before {
  transform: translateX(100%);
  transition: transform 400ms linear;
}

.switch-button-checkbox + .switch-button-label {
  position: relative;
  padding: 14px 0;
  display: block;
  user-select: none;
  pointer-events: none;
}

.switch-button-checkbox + .switch-button-label:before {
  content: "";
  background: #151515;
  height: 80%;
  width: 98%;
  position: absolute;
  left: 2%;
  top: 10%;
  border-radius: 30px;
  transform: translateX(0);
  transition: transform 400ms;
}

.switch-button-checkbox + .switch-button-label .switch-button-label-span {
  position: relative;
}

#location-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

#location-name {
  font-size: 32px;
  font-weight: bold;
  color: #EBEBEB;
}

#location-subtext {
  font-size: 12px;
  margin-top: -5px;
  color: #858585;
}

#location-header-right {
  font-size: 35px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EBEBEB;
}
  
#graph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#graph-x-index {
  width: 100%;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  padding-left: 12%;
  padding-right: 12%;
  margin-bottom: 20px;
  color: #FDFDFD;
}

#graph-y-index {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: space-between;
  color: #FDFDFD;
}

.display-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#ratings-div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 12px;
  padding-bottom: 12px;
  color: #EBEBEB;
}

#people-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#people-text {
  font-size: 10px;
  color: #858585;
}

#location-card-1 {
  margin: 0.8rem;
  border-radius: 25px;
  background-color: #151515;
}

#range-message {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.8rem;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  background-color: #151515;
  color: #858585;
  text-align: center;
}

.normal-button {
  background-color: #090909;
  border: 1px solid #494949;
  border-radius: 15px;
  width: 85px;
  height: 27px;
  color: #CBCBCB;
  font-size: 13px;
}

.blue-button {
  background-color: #F9F9F9;
  border: 1px solid #494949;
  border-radius: 15px;
  width: 85px;
  height: 27px;
  color: #141414;
  font-size: 13px;
}

#distance-select {
  -webkit-appearance: none;
  background-color: #090909;
  border: 1px solid #494949;
  border-radius: 15px;
  width: 85px;
  height: 27px;
  color: #CBCBCB;
  font-size: 13px;
  padding-left: 12px;
}

#filter-options {
  display: flex;
  padding-left: 5%;
  gap: 2.5%;
  padding-bottom: 2rem;
}

#explore {
  color: #EBEBEB;
  font-size: 30px;
  font-weight: 500;
  padding-left: 5%;
}

#search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
}
  
#search-input {
  border: 1px solid #494949;
  border-radius: 15px;
  background-color: #090909;
  color: #666666;
  width: 90%;
  height: 40px;
  padding-left: 50px;
  font-size: 15px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #666666;
  opacity: 1; /* Firefox */
  font-size: 15px;
}

#locations-subtitle {
  color: #EBEBEB;
  font-size: 24px;
  font-weight: 500;
  padding-left: 5%;
  padding-bottom: 1rem;
}

.color-bar {
  height: 0.5rem;
  width: 100%;
  background-image: linear-gradient(to right, #a1d1fe, #95cbfe, #88c5ff, #7bbeff, #6db8ff, #60b1ff, #53aaff, #45a3ff, #379aff, #2c90ff, #2586ff, #267cfe);
}

#main-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  color: #4d4d4d;
}

#copyright {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

#no-results {
  display: flex;
  justify-content: center;
  color: #4d4d4d;
  padding-top: 3rem;
}

#comment-bar-container {
  display: flex;
  background-color: #151515;
  width: 90%;
  border-radius: 15px;
}

#comment-bar {
  display: flex;
  width: 96%;
  height: 30px;
  background-color: #151515;
  color: #858585;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 2rem;
}

#submit-comment {
  background-color: #2586ff;
  color: #CBCBCB;
  border-radius: 15px;
}

#character-count {
  color: #EBEBEB;
}

#comments {
  color: #EBEBEB;
}

#comment-line {
  display: flex;
  justify-content: space-between;
}

.liked-button {
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  transition: all 0.3s ease;
  background-color: #ffa8c2ef;
  pointer-events: auto;
  border: 1px solid #f65c8a;
}

.liked-button svg path {
  fill: #f65c8a;
}

.liked-button:active {
  transform: scale(0.88);
}

.liked-button:active svg {
  transform: scale(0.6);
}

.unliked-button {
  background-color: #1b1b1b;
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  transition: all 0.3s ease;
  /* Add any additional styling for unliked button */
}

.unliked-button:active {
  transform: scale(0.88);
}

.unliked-button:active svg {
  transform: scale(0.6);
}

.disliked-button {
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  transition: all 0.3s ease;
  background-color: #f76b6bee;
  pointer-events: auto;
  border: 1px solid #c51c1c;
}

.disliked-button svg path {
  fill: #c51c1c;
  stroke: #c51c1c;
}

.disliked-button:active {
  transform: scale(0.88);
}

.disliked-button:active svg {
  transform: scale(0.6);
}

.undisliked-button {
  background-color: #1b1b1b;
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  transition: all 0.3s ease;
  /* Add any additional styling for unliked button */
}

.undisliked-button:active {
  transform: scale(0.88);
}

.undisliked-button:active svg {
  transform: scale(0.6);
}

.svg-container {
  min-width: 15px; /* Adjust the value as needed */
  min-height: 15px; /* Adjust the value as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}
