* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
}

#not-mobile {
    display: none;
}

/* @media only screen and (min-device-width: 480px) {

    #not-mobile {
        display: block;
    }

    #content {
        display: none;
    }

} */

ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

li {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 10px;
}

input[type="range"] {
    width: 300px;
    background: transparent;
  }
  /*###################################*/
  /*###########Responsive Range########*/
  /*###################################*/
  /*##############Core Style###########*/
  
  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type="range"]:focus {
    outline: none;
  }
  
  input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  /*#############Thumb##############*/
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 36px;
    width: 36px;
    background: #555;
    cursor: pointer;
    margin-top: -12px;
  }
  
  input[type="range"]::-moz-range-thumb {
    height: 36px;
    width: 36px;
    background: #555;
    cursor: pointer;
  }
  
  input[type="range"]::-ms-thumb {
    height: 36px;
    width: 36px;
    background: #555;
    cursor: pointer;
  }
  /*#############Track##############*/
  
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: #ccc;
  }
  
  input[type="range"]:active::-webkit-slider-runnable-track {
    background: #d6d6d6;
  }
  
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: #ccc;
  }
  
  input[type="range"]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  
  input[type="range"]::-ms-fill-lower {
    background: #ccc;
  }
  
  input[type="range"]:focus::-ms-fill-lower {
    background: #ddd;
  }
  
  input[type="range"]::-ms-fill-upper {
    background: #ccc;
  }
  
  input[type="range"]:focus::-ms-fill-upper {
    background: #ddd;
  }

  #rating {

    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .slider {
    width:500px;
    height:60px;
    padding:30px;
    padding-left: 40px;
    background:#fcfcfc;
    border-radius:20px;
    display:flex;
    align-items:center;
    box-shadow:0px 15px 40px #7E6D5766;
   }

   .sliderLabel {
    margin-right: 2rem;
   }

   .slider span {
    font-size:26px;
    font-weight:600;
    font-family: Open Sans;
    padding-left:30px;
    color:#7E6D57;
   }
   .slider input[type=”range”] {
    -webkit-appearance:none !important;
    width:420px;
    height:2px;
    background:#7E6D57;
    border:none;
    outline:none;
   }
   .slider input[type=”range”]::-webkit-slider-thumb {
    -webkit-appearance:none !important;
    width:30px;
    height:30px;
    background:#fcfcfc;
    border:2px solid #7E6D57;
    border-radius:50%;
    cursor:pointer;
   }
   .slider input[type=”range”]::-webkit-slider-thumb:hover {
    background:#7E6D57;
   }
  
  


