* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: cornflowerblue;
}

#not-mobile {
    display: none;
}

/* @media only screen and (min-device-width: 480px) {

    #not-mobile {
        display: block;
    }

    #content {
        display: none;
    }

} */

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#logo {
  font-size: 35px;
  font-weight: bold;
}

ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 5%;
    margin-right: 5%;
}

.button-link {
  display: flex;
  gap: 1rem;
  padding: 12px 24px;
  border: 1px solid #ccc;
  background-color: #eee;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  height: 15vh;
}

.button-link:hover {
  background-color: #ddd;
}

li {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.card-left {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
}

.bar-name {
  font-size: 30px;
  font-weight: bold;
}

.bar-addy {
  width: max-content;
  font-size: 18px;
  border-top: 2px solid grey;
  padding-left: 2px;
  padding-right: 6px;
  padding-top: 3px;
}

.timestamp {
  margin-top: auto;
  font-size: 12px;
  color: rgb(172, 171, 171);
  padding-bottom: 3px;
}

.card-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 45px;
  font-weight: bold;
}

#graph-parent {
  width: 100vw;
  height: 30vh;
}

input[type="range"] {
    width: 300px;
    background: transparent;
  }
  /*###################################*/
  /*###########Responsive Range########*/
  /*###################################*/
  /*##############Core Style###########*/
  
  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type="range"]:focus {
    outline: none;
  }
  
  input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  /*#############Thumb##############*/
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 36px;
    width: 20px;
    background: #555;
    cursor: pointer;
    margin-top: -12px;
  }
  
  input[type="range"]::-moz-range-thumb {
    height: 36px;
    width: 36px;
    background: #555;
    cursor: pointer;
  }
  
  input[type="range"]::-ms-thumb {
    height: 36px;
    width: 36px;
    background: #555;
    cursor: pointer;
  }
  /*#############Track##############*/
  
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: #ccc;
  }
  
  input[type="range"]:active::-webkit-slider-runnable-track {
    background: #d6d6d6;
  }
  
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: #ccc;
  }
  
  input[type="range"]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  
  input[type="range"]::-ms-fill-lower {
    background: #ccc;
  }
  
  input[type="range"]:focus::-ms-fill-lower {
    background: #ddd;
  }
  
  input[type="range"]::-ms-fill-upper {
    background: #ccc;
  }
  
  input[type="range"]:focus::-ms-fill-upper {
    background: #ddd;
  }

  #rating {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .slider {
    width:90%;
    height:60px;
    padding:30px;
    padding-left: 40px;
    background:#fcfcfc;
    border-radius:20px;
    display:flex;
    align-items:center;
    box-shadow:0px 15px 40px #7E6D5766;
   }

   .sliderLabel {
    margin-right: 2rem;
   }

   .slider span {
    font-size:18px;
    font-weight:600;
    font-family: Open Sans;
    padding-left:30px;
    color:#7E6D57;
   }
   .slider input[type=”range”] {
    -webkit-appearance:none !important;
    width:420px;
    height:2px;
    background:#7E6D57;
    border:none;
    outline:none;
   }
   .slider input[type=”range”]::-webkit-slider-thumb {
    -webkit-appearance:none !important;
    width:30px;
    height:30px;
    background:#fcfcfc;
    border:2px solid #7E6D57;
    border-radius:50%;
    cursor:pointer;
   }
   .slider input[type=”range”]::-webkit-slider-thumb:hover {
    background:#7E6D57;
   }




.switch-button {
  background: rgba(255, 255, 255, 0.56);
  border-radius: 30px;
  overflow: hidden;
  width: 12vh;
  text-align: center;
  font-size: 8px;
  letter-spacing: 1px;
  color: rgb(53, 53, 53);
  position: relative;
  padding-right: 6vh;
  position: relative;
}

.switch-button:before {
  content: "Updates";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}

.switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}

.switch-button-checkbox:checked + .switch-button-label:before {
  transform: translateX(6vh);
  transition: transform 300ms linear;
}

.switch-button-checkbox + .switch-button-label {
  position: relative;
  padding: 8px 0;
  display: block;
  user-select: none;
  pointer-events: none;
}

.switch-button-checkbox + .switch-button-label:before {
  content: "";
  background: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  transform: translateX(0);
  transition: transform 300ms;
}

.switch-button-checkbox + .switch-button-label .switch-button-label-span {
  position: relative;
}

  
  